.occupation-filter {
  position: relative;
  .filter-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .filter-dropdown {
    border-radius: 12px;
    background-color: white;
  }
}
.subcategories-container {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  .subcategories-panel {
    max-height: 800px;
    overflow-y: auto;
  }
}



.filter-dropdown {

  .active-category > .digi-button--variation-secondary.sc-digi-button {
    --COLOR--BACKGROUND--DEFAULT: #FF7752;
    --COLOR--BACKGROUND--HOVER: #ffa187;
  }

  .sc-digi-form-checkbox-h {
    --digi--form-checkbox--background-color--primary: #FF7752;
  }

}
