/* Home Page Styling */

.home-main-block .digi-layout-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.home-main-block {
    > .digi-layout-block {
        div:first-of-type {
            padding: 0;
        }
    }
}

.home-top-section,
.home-bottom-section {
  height: 425px;
}

.home-top-section {
  background-color: #85d5fd;
  display: flex;
  align-items: center;

  .digi-typography {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  span,
  h2,
  p {
    color: var(--digi--color--text--inverted)
  }

  h2 {
    font-weight: var(--digi--typography--heading-2--font-weight--desktop-large);
  }
}

.home-middle-section {
  position: absolute;
  background-color: #FF7752;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--digi--border-radius--complementary-3);
  padding: var(--digi--padding--medium);
  z-index: 1;
  width: var(--digi--container-width--small);

  .digi-form-label__label-group {
    display: none;
    text-align: center;
    justify-content: center;
    color: var(--digi--color--text--inverted);
    background-color: transparent;
  }
}

.home-bottom-section {
  
  > .digi-layout-container {
    display: flex;

    > .digi-layout-container {
        text-align: center;
    }
  }

  .home-bottom-section img {
    flex: 1;
    z-index: 0;
  }
}

digi-layout-block.sc-digi-header,
digi-layout-block.sc-digi-footer {
  width: 100vw;
}

.digi-header__content {
  justify-content: flex-end;
}
