.suggestion-dropdown {
  background-color: white;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 10px;
  width: var(--digi--container-width--medium);
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  gap: 4px;
  .suggestion {
    cursor: pointer;
    &:hover {
      background-color: #d6d6d6;
    }
  }
}
