@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';
@import './base/base';
@import './tokens/tokens';
@import './partials/jobdescription';

.digi-logo__img {
  background-image: url('/src/assets/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
}

.sc-digi-logo-h .digi-logo__system-name.sc-digi-logo::before {
  content: none;
}
use#Main-Symbol {
    display: none;
}

.home-main-block .digi-layout-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.home-top-section,
.home-bottom-section {
  height: 425px;
}

.home-top-section {
  background-color: rgb(50, 196, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-middle-section {
  position: absolute;
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 1em;
  z-index: 1;

  .digi-form-label__label-group {
    display: none;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: transparent;
  }
}

.home-bottom-section {
  background-color: rgb(255, 166, 0);
  display: flex;

  .home-bottom-section img {
    flex: 1;
    z-index: 0;
  }
}

digi-layout-block.sc-digi-header,
digi-layout-block.sc-digi-footer {
  width: 100vw;
}

.digi-header__content {
  justify-content: flex-end;
}
