/* ICONS */

.sc-digi-icon-arrow-left-h {
  --digi--icon--color: white;
  --digi--icon--width: 20px;
}

.apply .sc-digi-link-external-h {
  --digi--link-external--color--default: white;
  --digi--link-external--color--visited: white;
}
